﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (Request.IsAuthenticated && User.IsInRole("Student"))
                {
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "StudentHome", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "AdminHome", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
                @if (Request.IsAuthenticated && User.IsInRole("Instructor"))
                {
                    @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "InstructorHome", routeValues: null, htmlAttributes: new { title = "Manage" })
                }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Intranet", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
