﻿@using Intranet.Common.Enums
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
        <div class="list-group">
            @Html.ActionLink("Datos Personales", "Details", "StudentHome", null, new { @class = (ViewBag.SelectedMenu == EnumStudentMenu.DatosPersonales ? "list-group-item active" : "list-group-item") })
            @Html.ActionLink("Cursos", "Index", "StudentCourse", null, new { @class = (ViewBag.SelectedMenu == EnumStudentMenu.Cursos ? "list-group-item active" : "list-group-item") })
            @*@Html.ActionLink("Notas Actuales", "Index", "StudentScore", null, new { @class = (ViewBag.SelectedMenu == EnumStudentMenu.Notas ? "list-group-item active" : "list-group-item") })*@
            @Html.ActionLink("Matricula OnLine", "Index", "StudentEnrollment", null, new { @class = (ViewBag.SelectedMenu == EnumStudentMenu.Matricula ? "list-group-item active" : "list-group-item") })
        </div>
    </div>