﻿@model Intranet.Common.ViewModels.ScoreDetailsViewModel
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@Html.DisplayFor(m => m.courseName)</h4>
    </div>
    <div class="modal-body">
        <div id="modalContent">
            <table class="table table-striped text-center">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.nota1)</th>
                    <th>@Html.DisplayNameFor(m => m.nota2)</th>
                    <th>@Html.DisplayNameFor(m => m.nota3)</th>
                    <th>@Html.DisplayNameFor(m => m.evaluacionFinal)</th>
                    <th>@Html.DisplayNameFor(m => m.promedio)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayFor(m => m.nota1)</td>
                    <td>@Html.DisplayFor(m => m.nota2)</td>
                    <td>@Html.DisplayFor(m => m.nota3)</td>
                    <td>@Html.DisplayFor(m => m.evaluacionFinal)</td>
                    <td>@Html.DisplayFor(m => m.promedio)</td>
                </tr>
            </table>
        </div>
    </div>
</div>