﻿@model Intranet.Common.ViewModels.StudentCourseViewModel
<div class="row row-offcanvas row-offcanvas-right">
    @Html.Partial("_StudentMenu")

    <div class="col-xs-12 col-sm-9 well bs-component">
        <fieldset class="form-horizontal">
            <legend>Cursos Matriculados</legend>
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SearchDepartment, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.idSearchDepartment, Model.SearchDepartment, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" value="Buscar" class="btn btn-primary">
                    </div>
                </div>
            }
            <p></p>
            <table class="table table-striped">
                <tr>
                    <th>
                        Curso
                    </th>
                    <th>
                        Fecha de Inicio
                    </th>
                    <th>
                        Especialidad
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.CourseDetails)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Department)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button title="Opciones" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                                    <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Ajax.ActionLink("Notas", "GetScoreDetails",
                                        new { courseId = item.CourseId },
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "modalContent",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnComplete = "showModal"
                                        })
                                    </li>
                                    <li>
                                        @Ajax.ActionLink("Record de Asistencias", "GetRecord",
                                        new { courseId = item.CourseId },
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "modalContent",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "GET",
                                            OnComplete = "showModal"
                                        })
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
    <div class="modal fade" id="modal_datos">
        <div class="modal-dialog" id="modalContent">

        </div>
    </div>
    <script type="text/javascript">
        function showModal() {
            $('#modal_datos').modal('show');
        }
    </script>
</div>
