﻿@model Intranet.Common.ViewModels.EnrollmentDetailViewModel

<div class="row row-offcanvas row-offcanvas-right">
    @Html.Partial("_StudentMenu")
    <div class="col-xs-12 col-sm-9 well bs-component">
        <fieldset class="form-horizontal">
            <legend>@Html.DisplayFor(model => model.CourseName)</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Department, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Department, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Duration, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Duration, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Vacancies, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Vacancies, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "6", disabled = "disabled" })
                </div>
            </div>
            <hr />
            <div class="col-md-12" style="text-align :right;">
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}   