﻿@model Intranet.Common.ViewModels.EnrollmentViewModel

<div class="row row-offcanvas row-offcanvas-right">
    @Html.Partial("_StudentMenu")
    <div class="col-xs-12 col-sm-9 well bs-component">
        <fieldset class="form-horizontal">
            <legend>Matricula OnLine - @Html.DisplayFor(model => model.CourseName)</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.dueNumbers, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.dueNumbers, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentTypeId, new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                </div>
            </div>
            <hr />
            <div class="col-md-12" style="text-align :right;">
                <button type="submit" value="Enroll" class="btn btn-success">Grabar</button>
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </fieldset>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}