﻿@model IEnumerable<Intranet.Common.ViewModels.EnrollmentListViewModel>
<div class="row row-offcanvas row-offcanvas-right">
    @Html.Partial("_StudentMenu")
    <div class="col-xs-12 col-sm-9 well bs-component">
            <fieldset class="form-horizontal">
                <legend>Cursos Disponibles</legend>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CourseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Department)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href=@Url.Action("Enrollment", "StudentEnrollment", new { id = item.Id })><i class="glyphicon glyphicon-edit"></i>&nbsp;Matricular</a>
                                        </li>
                                        <li>
                                            <a href=@Url.Action("Details", "StudentEnrollment", new { id = item.Id })><i class="glyphicon glyphicon-pencil"></i>&nbsp;Ver</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
                <div id='calendar' style=" background-color: white;"></div>
            </fieldset>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            lang: 'es'
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}