﻿.right-panel {
    width: 80% !important;
    float: right !important;
    padding-left: 25px !important;
    margin-top: 25px !important;
}

.left-panel {
    width: 20% !important;
    float: left !important;
    margin-top: 25px !important;
}
